
#gmaps-canvas {
  height: 400px;

  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}

#gmaps-error {
  color: #cc0000;
}




#results {
  color: #555;
  padding-top: 10px;
}


#row #gmaps-output-latitude, #row #gmaps-output-longitude {
  color: green;
}

.download { float: right; }
