/* ========================
UIkit bootstrap-ecommerce.com 
===================== */
/* ==================== INCLUDE FONTS ======================= */
@import url("../fonts/roboto/font.css");

/* ================= RATINGS ============== */
.label-rating {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; }

.stars-simple {
  margin-bottom: 7px; }
  .stars-simple i {
    color: orange; }
  .stars-simple small {
    color: #999;
    margin-left: 5px; }

/* rating-list */
.rating-stars {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  clear: both; }
  .rating-stars i {
    font-size: 14px;
    color: #ccc;
    display: inline; }
  .rating-stars li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1; }
  .rating-stars li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .rating-stars li.stars-active i {
      color: orange; }






.rating-stars-big {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  clear: both; }
.rating-stars-big i {
  font-size: 20px;
  color: #ccc;
  display: inline; }
.rating-stars-big li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1; }
.rating-stars-big li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
.rating-stars-big li.stars-active i {
  color: orange; }



.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }
  .divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1; }
  .divider-text span {
    background-color: #fff;
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2; }

.menu-category {
  margin: 0;
  padding: 0; }
  .menu-category li {
    position: relative;
    display: block;
    border-bottom: 1px solid #dee2e6; }
  .menu-category > li > a {
    display: block;
    padding: 10px 15px; }
  .menu-category .submenu {
    display: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 20;
    position: absolute;
    left: 100%;
    top: 0;
    width: 250px;
    background: #fff; }
    .menu-category .submenu li {
      list-style: none; }
    .menu-category .submenu li a {
      padding: 7px 15px;
      display: block; }
  .menu-category li:hover {
    background: #f8f8f8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .menu-category li:hover .submenu {
    display: block;
    margin-left: 0px; }

/*# sourceMappingURL=ui.css.map */