

<link rel=stylesheet href=styles/main.css>

<body><h1>Location</h1>
<div class=container>
    <div class=waterfall></div>
</div>




<script src=scripts/vendor.js></script>
<script src=bootstrap-waterfall.js></script>


<script id=waterfall-template type=text/template>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/1.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/2.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/3.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/4.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/5.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/6.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/7.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/8.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/9.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/10.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/11.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/12.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/13.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/14.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/15.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/16.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/17.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/18.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/19.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/20.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/1.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/2.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/3.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/4.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/5.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/6.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/7.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/8.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/9.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/10.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul> </script>
<script id=another-template type=text/template>

    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/20.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;">
                    <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>This is very cool!</small>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href="javascript:;"> <img src="images/10.jpg"/> </a></li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-xs" title="thumb up"><span
                    class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default btn-xs" title="thumb down"><span
                    class="glyphicon glyphicon-thumbs-down"></span></button>
            <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span
                    class="glyphicon glyphicon-pushpin"></span></button>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left"><a href="javascript:;"> <img class="media-object img-rounded"
                                                                     style="width: 30px; height: 30px;"
                                                                     src="images/avatar_30.png"/> </a></div>
                <div class="media-body"><h5 class="media-heading">Liber</h5>
                    <small>How about this? Awesome! I love this pin!I love this pin!</small>
                </div>
            </div>
        </li>
    </ul>
</script>

<script>
    $('.waterfall')
        .data('bootstrap-waterfall-template', $('#waterfall-template').html())
        .on('finishing.mystist.waterfall', function () {
            setTimeout(function () { // simulate ajax
                $('.waterfall').data('mystist.waterfall').addPins($($('#another-template').html()))
            }, 500);
        })
        .waterfall()
</script>
